.field {
  --state: attr(data-state raw-string, "fallow");
}

.field-visual {
  height: 30px;
  width: 30px;
}

.menu-button {
  anchor-name: --menu-btn-anchor;
  cursor: pointer;
  border: none;
  padding: 0;
}

.menu-popover {
  position: absolute;
  position-anchor: --menu-btn-anchor;
  position-area: bottom center;
  margin: 0.5rem;
}

@container style(--state: "fallow") {
  .field-visual {
    background-color: brown;
  }
}

@container style(--state: "seeding") {
  .field-visual {
    background-color: lightgreen;
  }
}

@container style(--state: "growth") {
  .field-visual {
    background-color: green;
  }
}

@container style(--state: "mature") {
  .field-visual {
    background-color: darkgreen;
  }
}
